/*.topbar{
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: Azure;
    padding-bottom: 15px;
    padding-left: 500px;
    padding-right: 500px;
    }
*/
body {
    background-color: powderblue;
    }
.topbar{
    background-image: url("photos/d5y05wf-843cee40-fd8a-4699-9497-b42888f72ccf.jpg");
    background-repeat: no-repeat;
    background-position: 0% 54%;
    padding-bottom: 15px;
    padding-left: 510px;
    padding-right: 510px;
    margin-top: -21px;
    margin-left: -8px;
    margin-right: -8px;
    }
.container {
    padding: 16px;
    }
.categories {
    text-align: center;
    word-spacing: 20px;
    border-style: dotted;
}
.content_list{
    list-style-type: none;
    }

.content_list li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("photos/hm2kqk0dkiv31.png");
  background-repeat: no-repeat;
  margin-left: -15px;
  margin-right: 5px;
}
.text {
    font-size: 18px
    }
.topic {
    font-size:50px;
    }
.tenhou_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
hr {
    margin: 1px;
    border-width: 1px
    }
